body{
    background-color: rgb(158, 153, 153);
}
h1{
    text-align: center;
    text-decoration: overline underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}
table{
    border-color: black;
    border-style: double;
}
th{
    background-color: rgb(154, 90, 214);
}
td{
    text-align: center;
    background-color: rgb(101, 101, 153);
}
a:link{
    text-decoration: solid;
    text-shadow: 5px;
    color: black;
    text-align: center;
}
ul{
    text-align: left;
}